
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
  
    color: purple;
    text-align: left;
    background-image: url('../img/water.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-left: 280px;
    padding-right: 200px;
    min-height:100vh;
    max-width:1800px;
}

h1 {
    font-size: 2.5rem;
    color: #1a73e8;
    text-align: center;
    margin:20px 0;
 
}
h2 { 
    font-size: 24px;
    color: greenyellow;
}
p {
   font-size: 1.5em;
   text-align: center;
}

header {
    display: flex; /* Flex düzeni etkinleştir */
    align-items: center; /* Resim ve navigasyonu dikeyde ortala */
    justify-content: flex-start; /* Sola hizala */
    gap: 0 auto; /* Navigasyon ve fotoğraf arasındaki boşluk */
    padding: 20px; /* Çevresine boşluk ekle *//* Çevresinde boşluk */
    max-width: 1200px; /* Header genişliği */
    margin: 0 auto; /* Ortala */
}
header h1 {
    font-size: 2.5rem; /* Büyük boyut */
    color: deeppink; /* Yazı rengi */
    text-transform: uppercase; /* Tüm harfleri büyük yapar */
    text-decoration: underline; /* Altını çizer */
    margin: 0; /* Ekstra boşlukları kaldırır */
}

.logo img {
    max-width: 150px; /* Resmi küçült */
    height: auto; /* Oranını koru */
    border: 3px solid black; /* Kenarlık ekle */
    border-radius: 10px; /* Köşeleri yuvarla */
}

.menu ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none; /* Alt çizgiyi kaldır */
    color: deeppink; /* Yazı rengi */
    font-size: 1.3rem; /* Yazı boyutu */
    font-weigth: bold; /* Kalın yazı */
}

a:hover {
    color: darkmagenta; /* Hover sırasında renk değişimi */
    text-decoration: underline; /* Hover sırasında alt çizgi 
}
main {
    clear: both;
    padding: 20px;
}

.footer a {
    color:black;
    text-shadow: 2px 2px 5px red;
}
.footer a:hover {
    color:red;
    text-shadow: 1px 1px 5px red;
}
view rawmain.css hosted with ❤ by GitHub
