

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: red;

    background-image: url(../img/water.jpg)
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 600px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: blue;
}

a:hover {
    color: darkmagenta;
}
view rawmain.css hosted with ❤ by GitHub
