

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
  
    color: purple;
    text-align: left;
    background-image: url('../img/water.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-left: 280px;
    padding-right: 200px;
    min-height:100vh;
    max-width: 800px;
}

h1 {
    font-size: 2.5rem;
    color: #1a73e8;
    text-align: center;
    margin:20px 0;
    box-shadow: 5px 5px 10px gray;
}
h2 { 
    font-size: 24px;
    color: greenyellow;
}
p {
   font-size: 1.5em;
   text-align: center;
}
ul  {
    list-style-type: disc;
    list-style-position: inside; 
    margin: 0 auto; 
    text-align: left;
}
#header ul {
    padding: 400px;
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
}
header {
    padding: 20px;
}
#header h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
}
main {
    clear: both;
    padding: 20px;
}
a {
    color: red;
}

a:hover {
    color: darkmagenta;
}
view rawmain.css hosted with ❤ by GitHub
